mock
setuptools==71.1.0
coverage==7.7.0
flake8==7.0.0
phulpy==1.0.10
pytest==8.3.2
pytest-cov==6.0.0
pytest-mock==3.14.0
mongomock==4.3.0
pydantic==2.10.6
pymongo==4.9.2
mypy==1.10.0
mypy-extensions==1.0.0
black==24.4.2
isort==5.13.2