mock
setuptools==71.1.0
coverage==7.7.0
flake8==7.1.2
phulpy==1.0.10
pytest==8.3.2
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-asyncio==0.25.3
mongomock==4.3.0
pydantic==2.10.6
pymongo==4.12.0
mypy==1.10.0
mypy-extensions==1.0.0
black==25.1.0
isort==6.0.1