mock
setuptools==69.1.1
coverage==7.4.3
flake8==7.0.0
phulpy==1.0.10
pytest==8.0.2
pytest-cov==4.1.0
pytest-mock==3.12.0
mongomock==4.1.2
pydantic>=2.0.2
pymongo==4.6.2
mypy==1.8.0
mypy-extensions==1.0.0
black==24.2.0
isort==5.13.2